<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Search Engine -->
    <meta name="description" content="Docker Compose file creator. Docker Composer.">
    <meta name="image" content="http://www.dcomposer.io/images/docker.png">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="docker composer, docker-compose">
    <meta itemprop="description" content="Docker Compose file creator. Docker Composer.">
    <meta itemprop="image" content="http://www.dcomposer.io/images/docker.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="docker composer">
    <meta name="twitter:description" content="Docker Compose file creator. Docker Composer.">
    <meta name="twitter:site" content="@ComposerDocker">
    <meta name="twitter:creator" content="@ComposerDocker">
    <meta name="twitter:image:src" content="http://www.dcomposer.io/images/docker.png">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="docker composer">
    <meta name="og:description" content="Docker Compose file creator. Docker Composer.">
    <meta name="og:image" content="http://www.dcomposer.io/images/docker.png">
    <meta name="og:url" content="http://www.dcomposer.io">
    <meta name="og:site_name" content="dcomposer.io">
    <meta name="og:video" content="http://www.dcomposer.io/images/docker.png">
    <meta name="og:type" content="website">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46119682-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-46119682-3');
    </script>

    <title>Docker Compose Initializr</title>
    <link rel="icon" type="image/png" href="images/docker.png">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/vuetify.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/vuetify.js"></script>
    <script src="js/vue-resource.js"></script>
    <script src="js/app.js"></script>
</head>

<body>

<div id="app" v-cloak>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="images/docker.png" width="32" height="32" class="d-inline-block align-top"/> Docker Composer
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Switch To Advanced Mode</a>
                </li>
            </ul>
        </div>
        <form class="form-inline">
            <el-input size="medium" placeholder="Type somethings..." v-model="feedback">
                <el-button slot="append" type="success" icon="el-icon-message" @click="sendFeedback">Send</el-button>
            </el-input>
        </form>
    </nav>

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-6">
                <div class="d-flex justify-content-center">
                    <div class="p-2">
                        <span>Add docker services to your infrastructure</span>
                        <hr/>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">

            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-6">
                <div class="d-flex justify-content-center">
                    <div class="p-2">
                        <el-select v-model="version" placeholder="Select Version" size="large">
                            <el-option
                                    v-for="version in versions"
                                    :key="version.version"
                                    :label="version.name"
                                    :value="version.version">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="p-2">
                        <el-autocomplete class="inline-input" v-model="serviceInput" size="large"
                                         :fetch-suggestions="querySearch"
                                         placeholder="Redis, Mongo, Kafka ..."
                                         @select="handleSelect">
                            <i class="el-icon-edit el-input__icon" slot="suffix"></i>
                        </el-autocomplete>
                    </div>
                    <div class="p-2">
                        <el-button type="success" icon="el-icon-download" @click="createDockerComposeFile"
                                   :loading="createProgressDoesItContinue" round>
                            Generate
                        </el-button>
                    </div>
                </div>
            </div>
            <div class="co-sm-3">

            </div>
        </div>
        <div class="row" v-if="selectedServices.length > 0">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="d-flex justify-content-center">
                    <div class="p-2">
                        <hr/>
                        <el-badge :value="selectedServices.length" type="info">
                            <el-button size="small">Selected Services</el-button>
                        </el-badge>
                        <el-tag style="margin: 2px;" v-for="service in selectedServices" :key="service" type="success"
                                @close="deleteService(service)" closable>
                            {{service}}
                        </el-tag>
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <footer class="footer">
        <div class="container text-center">
            <span class="text-muted"><b>dcomposer.io</b> is powered by <a target="_blank"
                    href="https://github.com/AlicanAkkus/docker-compose-initializr">Docker Compose Initializr</a> and <a target="_blank"
                    href="https://twitter.com/Alican_akkus">Alican Akkus</a></span>
        </div>
    </footer>
</div>

</body>
</html>